<div class="row">
  <div class="col-md-12">
      <div class="c-wrapper"></div>
          <div id="demo" class="carousel slide" data-ride="carousel">
          
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
            </ul>
          
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img srcset="./assets/img/dan-gold-298710-unsplash.jpg"  style="width:1900px;"  alt="Los Angeles" class="d-block img-fluid">
                <div class="carousel-caption d-none d-md-block">
                    <img srcset="./assets/img/LOGO3.png" style="width:200px; height: 200px;">
                    <p style="font-size:40pt">DailyMeals: Come lo que debes comer </p>
                    <p style="font-size: 14pt">Obtén una sugerencia de dieta con nuestra inteligencia Artificial</p>
                    <button type="button" class="btn btn-primary btn-lg" (click)="this.goToDiet()">Obtener Dieta</button>

                  </div>
              </div>
              <div class="carousel-item">
                <img srcset="./assets/img/lily-banse-365344-unsplash.jpg" style="width:1900px;" alt="Chicago" class="d-block img-fluid">
                <div class="carousel-caption d-none d-md-block">
                    <img srcset="./assets/img/LOGO3.png" style="width:200px; height: 200px;">
                    <p style="font-size:40pt">DailyMeals: Come lo que debes comer </p>
                    <p style="font-size: 14pt">Obtén una sugerencia de dieta con nuestra inteligencia Artificial</p>
                    <button type="button" class="btn btn-primary btn-lg" (click)="this.goToDiet()">Obtener Dieta</button>

                  </div>
              </div>
            </div>
          
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          
          </div>

          
  </div>
</div>

<div class="row" style="margin-top: 5%; margin-left: 2%; margin-right: 2%"> 
<!-- Services section -->
<section id="what-we-do">
		<div class="container-fluid">
			<h2 class="section-title mb-2 h1">Acerca de Nosotros</h2>
			<p class="text-center text-muted h5">DailyMeals nace como un proyecto escolar por tres estudiantes mexicanos de CUCEI de la Universidad de Guadalajara.</p>
      <p class="text-center text-muted h5">La finalidad, simple, recomendarte una sugerencia de dieta de acuerdo a tu metabolismo basal.</p>

      <div class="row mt-5">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">Ingresa tus datos</h3>
							<p class="card-text">Ingresa tus datos para que obtengamos tu metabolismo basal, o en otras palabras, las calorías que tienes que consumir en un día.</p>

            </div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">Inteligencia Artificial</h3>
							<p class="card-text">Nuestra IA buscara la mejor combinación para ti dentro de nuestra base de datos de mas de 2000 productos.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">Obten tu dieta</h3>
							<p class="card-text">Te mostramos la recomendación que nuestra IA sugiere para ti, la cual cumple la cantidad de calorías y el porcentaje de macronutrientes que requieres.</p>
						</div>
					</div>
				</div>
			</div>

		</div>	
	</section>
	<!-- /Services section -->
</div>
