
<br>
<img typeof="foaf:Image" srcset="/assets/img/obesidad.jpg" width="723" height="355" alt="Qué es la obesidad" title="Obesidad" class="d-block img-fluid">
<div class="cfg-cabecera__pie-imagen">
<a><h1 class="cfg-cabecera__titulo">Obesidad</h1></a>
<div class="cfg-cabecera__entradilla">El organismo almacena el exceso de energía para utilizarlo cuando sea necesario. Sin embargo, si los nutrientes son abundantes y la forma de vida sedentaria, la obesidad se puede convertir en una auténtica ‘epidemia’.</div>
</div>
<br>
<div class="container animated fadeIn">
  <div class="row" >
    <h2 class="c">Que es?</h2>
    <p>
      La obesidad es una enfermedad crónica tratable que aparece cuando existe un exceso de tejido adiposo (grasa) en el cuerpo.<br><br>

      Los expertos advierten de que sus efectos más negativos se producen porque actúa como un agente que acentúa
      y agrava a corto plazo y de forma muy evidente patologías graves como la diabetes, la hipertensión, las complicaciones cardiovasculares
      (especialmente la cardiopatía isquémica), e incluso algunos tipos de cáncer, como los gastrointestinales.<br><br>

      Con excepción de las personas que son muy musculosas, aquellas cuyo peso supera en un 20 por ciento o más
      el punto medio de la escala de peso según el índice de masa corporal (IMC), son consideradas obesas. <br>
    </p>
  </div>
  <div class="row">
    <h2 class="c">Causas</h2>
    <p>
      Hay muchas causas implicadas en la aparición del problema. Además de una mala alimentación o la
      falta de ejercicio físico, también existen factores genéticos y orgánicos que inducen su aparición.<br><br>

      También pueden influir los factores socioeconómicos. En algunos países desarrollados, la frecuencia de
       la obesidad es más del doble entre las mujeres de nivel socioeconómico bajo que entre las de nivel más alto.<br><br>

      El motivo por el cual los factores socioeconómicos tienen una influencia tan poderosa sobre el
      peso de las mujeres no se entiende por completo, pero se sabe que las medidas contra la obesidad
       aumentan con el incremento del nivel social.<br><br>

      Las mujeres que pertenecen a grupos de un nivel socioeconómico más alto tienen más tiempo y recursos
      para hacer dietas y ejercicios que les permiten adaptarse a estas exigencias sociales.<br><br>

      Y, por último, están los factores psicológicos, que durante un tiempo fueron considerados como
       una importante causa de la obesidad. Se consideran actualmente como una reacción a los fuertes
        prejuicios y la discriminación contra las personas obesas.<br><br>

        Uno de los tipos de trastorno emocional, la imagen negativa del cuerpo, es un problema grave para muchas mujeres jóvenes obesas. Ello conduce a una inseguridad extrema y malestar en ciertas situaciones sociales.<br><br>
    </p>
  </div>
</div>
