
<br>
<img typeof="foaf:Image" srcset="/assets/img/nutricion.png" width="1200" height="355" alt="Qué es la obesidad" title="Obesidad" class="d-block img-fluid">
<div class="cfg-cabecera__pie-imagen">
<a><h1 class="cfg-cabecera__titulo">Nutricion</h1></a>
<div class="cfg-cabecera__entradilla">¿Sabías que nutrición, no es precisamente lo mismo que alimentación?</div>
<br>
</div>
<br>
<div class="container animated fadeIn">
  <div class="row" >
    <h2 class="c">Que es?</h2>
    <p>

      La nutrición es la ingesta de alimentos en relación con las necesidades dietéticas del organismo. Una buena nutrición (una dieta suficiente y equilibrada combinada con el ejercicio físico regular) es un elemento fundamental de la buena salud. <br><br>

      La nutrición se refiere a los nutrientes que componen los alimentos, implica los procesos que suceden en tu
      cuerpo después de comer, es decir la obtención, asimilación y digestión de los nutrimientos por el organismo.<br><br>

      La alimentación saludable cumple con necesidades nutricionales que necesita el cuerpo, para mantener una buena salud.
      Además, comer sano te protege de sufrir enfermedades como obesidad, azúcar en la sangre y presión alta.<br><br>

      Por el contrario, un alimento "no saludable" aporta poco valor nutricional y tiene muchas calorías pues usualmente son
      ricos en grasas y azúcares. <br>
    </p>
  </div>
  <div class="row">
    <h2 class="c">Composicion de los Alimentos</h2>
    <p>
      Los alimentos entregan la energía y los nutrientes necesarios para estar sanos. Entre los nutrientes se incluyen las proteínas, carbohidratos, grasas, vitaminas, minerales y agua.<br><br>

      Comer de manera nutritiva no es difícil. Las claves son:<br><br>
      </p>
      <ul>
        <li>Consumir una variedad de alimentos, incluyendo vegetales, frutas y productos con granos integrales</li>
        <li>Consumir carnes magras, aves, pescado, guisantes y productos lácteos descremados</li>
        <li>Beber mucha agua<br>
        <li>Limitar la sal, azúcar, alcohol, grasas saturadas y grasas trans</li>
      </ul>
      <br><br>

    <p>
      Las grasas saturadas suelen provenir de los animales. Busque las grasas trans en las etiquetas de los alimentos procesados, margarinas y mantecas.<br>
    </p>
  </div>
</div>
