<div class="container">

    <div class="pageMargin">
        <br>
        <h4>Calcular metabolismo basal diario <small></small></h4>
        <hr>
        <p> El metabolismo basal diario se puede calcular de manera muy aproximada de la siguiente forma mediante las
            ecuaciones de Harris Benedict </p>
        <form (ngSubmit)="calculate(forma)" #forma="ngForm" novalidate="">

            <div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Peso(KG)</label>
                    <div class="col-md-8">

                        <input [ngClass]="{'is-invalid': forma.controls.peso?.errors?.required && forma.controls.peso?.touched}"
                            class="form-control" type="number" placeholder="Peso(KG)" name="peso" ngModel required
                            #name="ngModel">
                        <div *ngIf="forma.controls.peso?.errors?.required && forma.controls.peso?.touched" class="invalid-feedback">
                            Campo Requerido.
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Estatura(CM)</label>
                    <div class="col-md-8">

                        <input [ngClass]="{'is-invalid': forma.controls.estatura?.errors?.required && forma.controls.estatura?.touched}"
                            class="form-control" type="number" placeholder="Estatura(CM)" name="estatura" ngModel
                            required #name="ngModel">
                        <div *ngIf="forma.controls.estatura?.errors?.required && forma.controls.estatura?.touched"
                            class="invalid-feedback">
                            Campo Requerido.
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Edad</label>
                <div class="col-md-8">

                    <input [ngClass]="{'is-invalid': forma.controls.edad?.errors?.required && forma.controls.edad?.touched}"
                        class="form-control" type="number" placeholder="Edad" name="edad" ngModel required #name="ngModel">
                    <div *ngIf="forma.controls.edad?.errors?.required && forma.controls.edad?.touched" class="invalid-feedback">
                        Campo Requerido.
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-2 col-form-label">Sexo</label>
                <div class="col-md-8">

                    <select [ngClass]="{'is-invalid': forma.controls.sexo?.errors?.required && forma.controls.sexo?.touched}"
                        class="form-control" ngModel required #name="ngModel" name="sexo">
                        <!--Supplement an id here instead of using 'name'-->
                        <option value="value1">Hombre</option>
                        <option value="value2">Mujer</option>
                    </select>
                    <div *ngIf="forma.controls.sexo?.errors?.required && forma.controls.sexo?.touched" class="invalid-feedback">
                        Campo Requerido.
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-2 col-form-label">&nbsp;</label>
                <div class="input-group col-md-8">
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
                        Calcular
                    </button>
                    <input class="form-control" type="text" placeholder="Calorias" name="calorias" [(ngModel)]="this.calories"
                        ngModel disabled #name="ngModel">
                    <label class="col-2 col-form-label">Calorias</label>
                </div>
            </div>



        </form>

    </div>

    <div class="form-group row" *ngIf="this.loading">
        <div text-center>
            <div id="loader"></div>
        </div>
    </div>

    <div *ngIf="this.showTable">
        <div class="form-group row">
            <div class="col-md-4"></div>
            <table id="dietTable" width="100%" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Alimento</th>
                        <th>Categoria</th>
                        <th>Cantidad Sugerida</th>
                        <th>Unidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of this.diet.dieta">
                        <td>{{row.AlimentoName}}</td>
                        <td>{{row.Categoria}}</td>
                        <td>{{row.CantidadSugerida}}</td>
                        <td>{{row.Unidad}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group row" >
            <div class="col-md-4">
                <p style="color:dimgrey; font-size: 14pt;">
                    <span style="color:rgb(73, 73, 73); font-size: 12pt;">
                        Total de Calorías:
                    </span>
                    {{this.diet.totalKCal}}
                </p>
            </div>
            <div class="col-md-4">
                <p style="color:dimgrey; font-size: 14pt;">
                    <span style="color:rgb(73, 73, 73); font-size: 12pt;">
                        Fitness:
                    </span>
                    {{this.diet.Fitness}}
                </p>
            </div>
        </div>
    </div>

</div>